.settings/*
.idea/*
*.iml
client/package-lock.json
client/node_modules/*
server/node_modules/*
desktop/node_modules/*
server/public/*
server/server.log
server/audit.log
server/server.error.log
server/localhost.*
./server/config.json
