.settings/*
.idea/*
*.iml
client/package-lock.json
client/node_modules/*
server/node_modules/*
desktop/node_modules/*
desktop/dist/*
core/node_modules/*
server/public/*
desktop/public/*
desktop/*.log
server/*.log
server/localhost.*
./server/config.json
